<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<div class="jumbotron jumbotron-fluid" style="text-align: center">
  <div class="container">
    <h1 class="display-4">Welcome to StocksTracker</h1>
    <p class="lead">A place where you can find and follow stocks</p>
  </div>
</div>

<h1>This is the home page</h1>

<div th:replace="partials/scripts :: scripts"></div>

</body>
</html>